
<link href="~/Assets/plugin/angular-ui-select/select.css" rel="stylesheet" />
<link href="~/Assets/plugin/angular-ui-select/select2.css" rel="stylesheet" />
<style>
    .startcolor {
        color: red;
    }
</style>
<div class="modal fade show" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span ng-if="model.Id == undefined"><span>Add</span></span><span ng-if="model.Id > 0"><span>Edit</span></span> <span> LookUp</span></h5>
                <button type="button" class="close" ng-click="closeThisModel()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form ng-submit="submitForm()" name="Form" novalidate class="form-validate form-control-static">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>Type</span>: <span class="startcolor">*</span></label>
                                @*<div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input" id="Type" name="Type" ng-model="model.Type" placeholder="Type">
                                </div>
                                <span ng-show="validateInput('Type', 'required')" class="text-danger"><span>This field is required</span></span>*@

                                <div class="controls">
                                    <ui-select ng-model="model.TypeId" required name="Type" theme="select2" ng-disabled="disabled" class="text-left form-control">
                                        <ui-select-match placeholder="Select Type">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="b.Id as b in TypeList track by $index"  refresh-delay="0">
                                            <span ng-bind-html="b.Name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="validateInput('Type', 'required')" class="text-danger"><span>This field is required</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>LookupKey</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input" id="LookupKey" name="LookupKey" ng-model="model.LookupKey" placeholder="LookupKey">
                                </div>
                                <span ng-show="validateInput('LookupKey', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>LookupValue</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input"  id="LookupValue" name="LookupValue" ng-model="model.LookupValue" placeholder="LookupValue">
                                </div>
                                <span ng-show="validateInput('LookupValue', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top: 25px;">
                            <div class="form-group">
                                <div class="controls cal_icon input-group">
                                    <input class="form-control  m-input" type="checkbox" name="IsActive" ng-model="model.IsActive">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="submitAndNew=false"><span>Save</span></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeThisModel()"><span>Close</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Assets/plugin/angular-ui-select/select.js"></script>


