
<link href="~/Assets/plugin/angular-ui-select/select.css" rel="stylesheet" />
<link href="~/Assets/plugin/angular-ui-select/select2.css" rel="stylesheet" />
<style>
    .startcolor {
        color: red;
    }
</style>
<div class="modal fade show" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span ng-if="model.Id == undefined"><span>Add</span></span><span ng-if="model.Id > 0"><span>Edit</span></span> <span> User</span></h5>
                <button type="button" class="close" ng-click="closeThisModel()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form ng-submit="submitForm()" name="Form" novalidate class="form-validate form-control-static">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>User Name</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input" name="UserName" ng-model="model.UserName" placeholder="User Name">
                                </div>
                                <span ng-show="validateInput('UserName', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>Full Name</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input" name="FullName" ng-model="model.FullName" placeholder="Full Name">
                                </div>
                                <span ng-show="validateInput('FullName', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>Email</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input" name="Email" ng-model="model.Email" placeholder="Email">
                                </div>
                                <span ng-show="validateInput('Email', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>Nationality</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <select class="form-control" required ng-model="model.CountryId" id="Nationality" name="Nationality">
                                        <option value="">Select Nationality</option>
                                        <option ng-repeat="item in countryList" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                </div>
                                <span ng-show="validateInput('Nationality', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"> <span>Organization</span>: <span class="startcolor">*</span></label>
                                <div class="controls cal_icon input-group">
                                    <input type="text" required class="form-control  m-input" name="Organization" ng-model="model.Organization" placeholder="Organization">
                                </div>
                                <span ng-show="validateInput('Organization', 'required')" class="text-danger"><span>This field is required</span></span>
                            </div>
                        </div>
                        @*<div class="col-md-4">
            <div class="form-group">
                <label class="form-control-label"> <span>Password</span>: <span class="startcolor">*</span></label>
                <div class="controls cal_icon input-group">
                    <input type="password" required class="form-control  m-input" name="Password" ng-model="model.Password" placeholder="Password">
                </div>
                <span ng-show="validateInput('Password', 'required')" class="text-danger"><span>This field is required</span></span>
            </div>
        </div>*@

                        <div class="col-md-2" style="margin-top: 25px;">
                            <div class="form-group">
                                <div class="controls cal_icon input-group">
                                    <input class="form-control  m-input" type="checkbox" name="IsActive" ng-model="model.IsActive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <fieldset ng-if="model.Id > 0">
                        <legend>Roles</legend>
                        <div class="row">
                            <div class="col-md-2" ng-repeat="row in roles">
                                <div class="form-group">
                                    <div class="controls cal_icon input-group">
                                        <input class="form-control  m-input" ng-checked="row.checked==1" type="checkbox" ng-click="addUpdateUserRoles(row.Id);" name="chk{{$index+1}}" />
                                        <label class="form-check-label" for="exampleCheck{{$index+1}}">{{row.Name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    
                    @*<div class="row">
            <div class="col-md-4" ng-repeat="row in roles">
                <div class="form-group m-form__group">
                    <input type="checkbox" ng-checked="row.checked==1" ng-click="AddUpdateUserRoles(row.Id);" class="form-check-input" id="exampleCheck{{$index+1}}">
                    <label class="form-check-label" for="exampleCheck{{$index+1}}">{{row.Name}}</label>
                </div>
            </div>
        </div>*@
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="submitAndNew=false"><span>Save</span></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeThisModel()"><span>Close</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Assets/plugin/angular-ui-select/select.js"></script>

